<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.github.denisidoro.uber</string>
	<key>connections</key>
	<dict>
		<key>5DC42D11-FD6B-412F-940D-E8295F4E4B21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEAF2AE2-7473-45E8-8099-C118A401A14F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEAF2AE2-7473-45E8-8099-C118A401A14F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D421996-54C8-43F2-B9C1-F8EC076FB7D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Denis Isidoro</string>
	<key>description</key>
	<string>Uber</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Uber</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Users/denis.isidoro/dotfiles/bin/dotn-alacritty &amp;disown</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/denis.isidoro/dotfiles/bin/dotn-alacritty</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D421996-54C8-43F2-B9C1-F8EC076FB7D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>u</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Uber</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5DC42D11-FD6B-412F-940D-E8295F4E4B21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>uber {query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CEAF2AE2-7473-45E8-8099-C118A401A14F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5D421996-54C8-43F2-B9C1-F8EC076FB7D1</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>5DC42D11-FD6B-412F-940D-E8295F4E4B21</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>CEAF2AE2-7473-45E8-8099-C118A401A14F</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/denisidoro/dotfiles</string>
</dict>
</plist>
