[submodule "modules/zimfw"]
	path = modules/zimfw
	url = https://github.com/zimfw/zimfw
	shallow = true

[submodule "modules/dotlink"]
	path = modules/dotlink
	url = git@github.com:denisidoro/dotlink.git
	shallow = true
