span {
  	top: 7px;
    color: #f0f0f0;
}

.fa {
  	top: 7px;
  	font-size: 13px;
    color: #f0f0f0;
}

.color1 { background-color: #61892f; }
.color2 { background-color: #86c232; }
.color3 { background-color: #222629; }
.color4 { background-color: #474b4f; }
.color5 { background-color: #6b6e70; }

.flex-container {
    width: 100%;
    display: flex;
    font-size: 12px;
    line-height: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;    
    color: white;
}

.box {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin: 0px;
}

.right-box {
  margin: 0px;
}

.battery {
  border: 0px solid;
}