span, div {
    color: #f0f0f0;
    font-size: 14px;
}

.fa {
  	top: 7px;
  	font-size: 12px;
    color: #f0f0f0;
}

.color1 { background-color: #61892f; }
.color2 { background-color: #86c232; }
.color3 { background-color: #222629; }
.color4 { background-color: #474b4f; }
.color5 { background-color: #6b6e70; }

.flex-container {
    display: flex;
    line-height: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;    
    color: white;
}

.full-width {
  width: 100%;
  background-color: red;
}

.box {
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.085em;
  padding-bottom: 0.085em;
  margin: 0px;
}

.container {
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
}

.battery {
  border: 0px solid;
}

.wm {
  color: white;
  background-color: transparent;
  display: inline;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.active {
  background-color: #61892f;
  display: inline !important;
}

.hidden {
  display: none;
}

.debug {
  color: white;
}