<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.github.denisidoro.navi</string>
	<key>connections</key>
	<dict>
		<key>5DC42D11-FD6B-412F-940D-E8295F4E4B21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D421996-54C8-43F2-B9C1-F8EC076FB7D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Denis Isidoro</string>
	<key>description</key>
	<string>Cheatsheets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>navi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  do shell script "/Users/denis.isidoro/dotfiles/bin/dotn-alacritty"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>182E86BC-031E-4F52-9BF0-977ED9A9AD24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>n</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>navi</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5DC42D11-FD6B-412F-940D-E8295F4E4B21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Users/denis.isidoro/dotfiles/bin/dotn-alacritty &amp;disown</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/denis.isidoro/dotfiles/bin/dotn-alacritty</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D421996-54C8-43F2-B9C1-F8EC076FB7D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>182E86BC-031E-4F52-9BF0-977ED9A9AD24</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>5D421996-54C8-43F2-B9C1-F8EC076FB7D1</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>5DC42D11-FD6B-412F-940D-E8295F4E4B21</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/denisidoro/dotfiles</string>
</dict>
</plist>
