<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.github.denisidoro.vivaldi</string>
	<key>connections</key>
	<dict>
		<key>2524B61E-D8AC-4B2A-BF1B-5562497783ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264B6358-C6DD-420B-AECC-E1990C584503</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BB47762-A6E2-4A4D-94E7-277943AFD1D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2524B61E-D8AC-4B2A-BF1B-5562497783ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DF9308E-5EEC-42FA-9F63-3134AD664A17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCCB3D88-95B3-4973-85BB-A27798439D20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>797E0471-425F-4045-8F01-1218BB6056E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264B6358-C6DD-420B-AECC-E1990C584503</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B34256C5-2C4E-4DFB-9BA0-14306EEB5114</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264B6358-C6DD-420B-AECC-E1990C584503</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B37C4185-426F-4BAC-AF9E-F9F48D4F8F67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5CB61BB-48E1-44BC-8EA9-FE72D66111BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0BE489B-2C6B-4C1E-8C83-86274E263105</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>797E0471-425F-4045-8F01-1218BB6056E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCCB3D88-95B3-4973-85BB-A27798439D20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264B6358-C6DD-420B-AECC-E1990C584503</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCAFDC11-9A4F-4314-86F6-3CB2F544A779</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B34256C5-2C4E-4DFB-9BA0-14306EEB5114</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Denis Isidoro</string>
	<key>description</key>
	<string>Vivaldi</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Vivaldi</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F5CB61BB-48E1-44BC-8EA9-FE72D66111BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>calendar</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Google Calendar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2DF9308E-5EEC-42FA-9F63-3134AD664A17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://calendar.google.com/calendar/u/1/r</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B37C4185-426F-4BAC-AF9E-F9F48D4F8F67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>alendar</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CCCB3D88-95B3-4973-85BB-A27798439D20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>spotify</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Spotify</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0BE489B-2C6B-4C1E-8C83-86274E263105</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>potify</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>797E0471-425F-4045-8F01-1218BB6056E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Users/denis.isidoro/dotfiles/bin/dot osx focus-tab "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/denis.isidoro/dotfiles/bin/dotn-alacritty</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>264B6358-C6DD-420B-AECC-E1990C584503</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>whatsapp</string>
				<key>subtext</key>
				<string>WhatsApp</string>
				<key>text</key>
				<string>WhatsApp</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DCAFDC11-9A4F-4314-86F6-3CB2F544A779</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>hatsApp</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B34256C5-2C4E-4DFB-9BA0-14306EEB5114</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>slack</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Slack</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2BB47762-A6E2-4A4D-94E7-277943AFD1D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>lack</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2524B61E-D8AC-4B2A-BF1B-5562497783ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2524B61E-D8AC-4B2A-BF1B-5562497783ED</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>264B6358-C6DD-420B-AECC-E1990C584503</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>2BB47762-A6E2-4A4D-94E7-277943AFD1D8</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>2DF9308E-5EEC-42FA-9F63-3134AD664A17</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>797E0471-425F-4045-8F01-1218BB6056E3</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>B34256C5-2C4E-4DFB-9BA0-14306EEB5114</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>B37C4185-426F-4BAC-AF9E-F9F48D4F8F67</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>C0BE489B-2C6B-4C1E-8C83-86274E263105</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>CCCB3D88-95B3-4973-85BB-A27798439D20</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>DCAFDC11-9A4F-4314-86F6-3CB2F544A779</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>F5CB61BB-48E1-44BC-8EA9-FE72D66111BC</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/denisidoro/dotfiles</string>
</dict>
</plist>
