#!/usr/bin/env bash

export TERM="xterm"

export PATH="$(python -m site --user-base)/bin:${HOME}/.local/bin/:${PATH}" 

ls() {
   if has exa; then
     exa --icons "$@"
   else 
     command ls "$@" 
   fi
}
